body {
    background-color: white;
}

.myheader{

}
.img-responsive{
    max-width: 100%;
    height: auto;
}
#desk_image{
    margin-top: 150px;
    bottom: 70px;
    right: 10px;
}

#button_image{

}

.nameplate-image {

    margin-left: 30px;
    margin-top: 138px;
}
.my_footer{

}







.txt[type="text"] {
    border: 1px solid #252525; /* this controls the thickness of the boder form*/
    margin: 10px 0; /* this controls the amount of spacing between the forms*/
    padding: 10px 0 10px 5px; /* this controls the padding inside the forms 1px top to bottom */
    width: 89%; /* this controls the width of the forms */
}
.txt_3[type="text"] {  /* this class is for the message form*/
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 89%;
}
.txt2[type="submit"] {
    background: #252525 none repeat scroll 0 0; /* when the button is clicked this turns color */
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #589989; /* this turns the button letter color to green when it is clicked */
    transition: all 0.5s ease 0s;
}


.wrapper {
    position: relative;
    width: 100%;
}
.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #eee;
    border-bottom-width: 2px;
}







